---
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = Object.values(
	import.meta.glob("./posts/*.{md,mdx}", { eager: true }),
);
---

<BaseLayout pageTitle="Blog Index | blog.nycrat.dev">
	<div class="posts-container">
		{
			posts
				.toSorted((a: any, b: any) => {
					const dateA = new Date(a.frontmatter.date);
					const dateB = new Date(b.frontmatter.date);
					return dateB.getTime() - dateA.getTime();
				})
				.map((post: any) => (
					<div class="post-preview-container">
						<h1>
							<a href={post.url}>{post.frontmatter.title}</a>
						</h1>
						<span class="metadata">{post.frontmatter.date} ~ 
							<ul>
								{post.frontmatter.tags.map((tag: string) => (
								<li>{tag}</li>
								))}
							</ul>
						</span>
						<!-- TODO: move thumbnail and post images into same directory -->
						<img
							src={post.frontmatter.thumbnail}
							alt={post.frontmatter.title}
						/>
					</div>
				))
		}
	</div>
</BaseLayout>

<style>
	h1 {
		font-size: 225%;
	}

	.posts-container {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.post-preview-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.post-preview-container > img {
		border: 1px solid var(--gray);
	}

	.metadata {
		color: var(--gray);
	}

	ul,
	li {
		list-style-type: none;
		display: inline;
	}

	li:nth-last-child(n + 2)::after {
		padding: 0 5px;
		content: "\00b7";
	}
</style>
