---
import BaseLayout from "./BaseLayout.astro";
import "../styles/post.css";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <blockquote>{frontmatter.subtitle}</blockquote>
  <div>
    v{frontmatter.version} ({frontmatter.lastUpdated})
    <br />
    Published {frontmatter.date}
  </div>

  <slot />
</BaseLayout>

<style>
  div {
    font-style: italic;
    color: var(--gray);
  }
</style>
